<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot 集成 Thymeleaf</title>
</head>
<body>
<!--Thymeleaf 前端框架以 Html 为载体-->
<span th:text="${data}"></span>
<span th:text="${data}"></span>
<p th:text="${data}"></p>
<div th:text="${data}"></div>

<h2>展示 User 用户信息：</h2>
用户编号：<span th:text="${user.id}"></span><br/>
用户姓名：<span th:text="${user.name}"></span><br/>
<h2>展示 User 用户信息（星号表达式,仅在 div 范围内有效）：</h2>
<div th:object="${user}">
    用户编号：<span th:text="*{id}"></span><br/>
    用户姓名：<span th:text="*{name}"></span><br/>
</div>

<h2>标准变量表达式和选择变量表达式混用</h2>
<h3>=======标准变量表达式=======</h3>
用户编号：<span th:text="${user.id}"></span><br/>
用户姓名：<span th:text="${user.name}"></span><br/>

<h3>=======选择变量表达式=======</h3>
用户编号：*{user.id} ==> <span th:text="*{user.id}"></span><br/>
用户姓名：*｛user.name｝ ==> <span th:text="*{user.name}"></span><br/>

<h1>内敛文本 th:inline="text" </h1>
<div th:inline="text">
    用户编号：
    <div>[[${user.id}]]</div>
    <br/>
    用户姓名：[[${user.name}]]<br/>

</div>
<div>一般我们将 th:inline="text" 放到 标签中<br/>
    内敛文本表达式不依赖于 html 标签，直接使用 内敛表达式[[ 表达式]]即可获取动态数据，但必须要求在父级标签上加 th:inline = “text”属性
</div>
<H1>
    ●内敛脚本（th:inline=”javascript” ）
    th:inline=”javascript” 在 js 代码中获取后台的动态数据
</H1>
<script>
function showInlineJavaScript() {
alert("欢迎 " + [[${user.id}]] +  " 到我院指导工作！姓名：" );
}
</script>
<button th:onclick="showInlineJavaScript()">展示内容</button>


<!--<input th:type="text" th:id="userName" th:name="userName">-->

<h1>th:onclick 的使用</h1>
<!--目前 thymeleaf 版本要求只能传递数字和布尔值-->
<a th:onclick="'show('+${user.id}+')'">点击：显示学生编号</a>
<a th:onclick="'show('+${user.id}+')'" th:style="'font-size:40px;color:red;'">点击：显示学生编号</a>

<script type="text/javascript">
    function show(id) {
        alert("用户编号为：" + id);
    }
</script>


<h1>th:each 循环遍历 List 集合</h1>
<div style="color: red">
    1.user:当前对象的变量名<br/>
    2.userStat:当前对象的状态变量名<br/>
    3.${userList}:循环遍历的集合<br/>
    4.变量名自定义
</div>
<div th:each="user,userStat:${userList}">
    <span th:text="${userStat.index}"></span>
    <span th:text="${user.id}"></span>
    <span th:text="${user.name}"></span>
    ◼ user

    定义变量，去接收遍历${userList}集合中的一个数据

    ◼ iterStat

    ${userList} 循环体的信息

    ◼ 其中 user 及 iterStat 自己可以随便取名

    ◼ interStat 是循环体的信息，通过该变量可以获取如下信息

    index: 当前迭代对象的 index （从 0 开始计算）

    count: 当前迭代对象的个数（从 1 开始计算） 这两个用的较多

    size: 被迭代对象的大小

    current: 当前迭代变量

    even/odd: 布尔值，当前循环是否是偶数/奇数（从 0 开始计算）

    first: 布尔值，当前循环是否是第一个

    last: 布尔值，当前循环是否是最后一个

</div>
<h1>th:each 循环遍历 Map 集合</h1>
<div th:each="userMap,userMapStat:${userMaps}">
    <span th:text="${userMapStat.count}"></span>
    <span th:text="${userMap.key}"></span>
    <span th:text="${userMap.value}"></span>
    <span th:text="${userMap.value.id}"></span>
    <span th:text="${userMap.value.name}"></span>
    th:each="userMap,userMapStat:${userMaps}" ，用 userMap 变量接收每次遍历的结果，封装

    为一个键值对，userMapStat 状态

    userMap.key：获取当前键值对中的 key

    userMap.value：获取当前键值对中的 value

</div>
<h1>th:each 循环遍历 数组 集合</h1>
<div th:each="user,userStat:${userArray}">
    <span th:text="${userStat.count}"></span>
    <span th:text="${user.id}"></span>
    <span th:text="${user.name}"></span>

</div>

<h1>th:if 用法:如果满足条件显示，否则相反</h1>
<div th:if="${sex eq 1}">
    男：<input type="radio" name="sex" th:value="1"/>
</div>
<div th:if="${sex eq 0}">
    女：<input type="radio" name="sex" th:value="0"/>
</div>

<h1>th:unless 用法：与 th:if 用法相反，即对条件判断条件取反</h1>
<div th:unless="${sex == 1}">
    男：<input type="radio" name="sex" th:value="1"/>
</div>
<div th:unless="${sex eq 0}">
    女：<input type="radio" name="sex" th:value="0"/>
</div>

<div th:if="${user1 eq null}">
    <h3 style="color: red">用户未登录</h3>
</div>

<div th:unless="${user2 == null}">
    用户姓名：<span th:text="${user2.name}"></span>
</div>

<h1>从 session 中获取值</h1>
<div th:if="${user3 != null}">
    <span th:text="${user3.name}"></span>
</div>
<h1>从SESSION中获取值</h1>
<span th:text="${#session.getAttribute('user3').name}"></span><br/>
<span th:text="${#httpSession.getAttribute('user3').name}"></span><br/>
<span th:text="${session.user3.name}"></span><br/>
<!--<div>-->
<!--    三元运算 ：表达式?” 正确结果”:” 错误结果” -->
<!--    算术运算： ：+ , - , * , / , % -->
<!--    关系比较: ：> , < , >= , <= ( gt , lt , ge , le ) -->
<!--    相等判断： ：== , != ( eq , ne )-->
<!--</div>-->
<h1>三元运算符</h1>
<span th:text="${sex eq 1 ? '男':'女'}"></span><br/>
<span th:text="${sex == 1 ? '男':'女'}"></span><br/>
20*8=<span th:text="20 * 8"></span><br/>
20/8=<span th:text="20 / 8"></span><br/>
20+8=<span th:text="20 + 8"></span><br/>
20-8=<span th:text="20 - 8"></span><br/>
<div th:if="5 > 2">5>2 是真的</div>
<div th:if="5 gt 2">5 gt 2 是真的</div>
<script type="text/javascript" th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" +
    #httpServletRequest.getServerName() + ":" +
    #httpServletRequest.getServerPort() +
    #httpServletRequest.getContextPath()}]];
    //http://localhost:8080/springboot/user/login
    //获取协议名称
    var scheme = [[${#request.getScheme()}]];
    //获取服务 IP 地址
    var serverName = [[${#request.getServerName()}]];
    //获取服务端口号
    var serverPort = [[${#request.getServerPort()}]];
    //获取上下文根
    var contextPath = [[${#request.getContextPath()}]];
    var allPath = scheme+"://"+serverName+":"+serverPort+contextPath;
    alert(allPath);

    var requestURL = [[${#httpServletRequest.requestURL}]];
    var queryString = [[${#httpServletRequest.queryString}]];
    var requestAddress = requestURL + "?" +queryString;
    alert(requestAddress);
</script>

<div th:text="${time}"></div>
<div th:text="${#dates.format(time,'yyyy-MM-dd HH:mm:ss')}"></div>
<div th:text="${data}"></div>
<div th:text="${#strings.substring(data,0,10)}"></div>


<h1>@{}：thymeleaf中的超链接表达式</h1>
<a th:href="@{'/ThymeleafUser/login?id=' + ${user.id}}">查看用户：文本字面的路径使用</a><br/>
<span th:text="您好"></span>

<!--<div  style="background-image: url(../static/sai.jpg)"></div>-->
<img src="../static/sai.jpg" height="548" width="560"/>
<img src="../static/img/sai.jpg" height="548" width="560"/>
</body>
</html>
